{% macro Svg(id='', size='16', class='', attr='' ) %}
  {% if id %}
<svg width="{{ size | safe }}" height="{{ size | safe  }}" {% if class %}class="{{ class | safe }}"{% endif %} {{ attr | safe }}><use xlink:href="#{{ id | safe }}"></use></svg>
  {% endif %}
{% endmacro %}

{% macro SvgSpirit(symbols, class='', attrs='') %}
<svg {% if class %}class="{{ class | safe }}"{% endif %} {{ attrs | safe }} aria-hidden="true" style="position: absolute; width: 0px; height: 0px; overflow: hidden;">
  {% if symbols %}
    {% for symbol in symbols -%}
      {{ symbol(isSvg=false) }}
    {%- endfor %}
  {% endif %}
  {% if caller %}
    {{ caller() }}
  {% endif %}
</svg>
{% endmacro %}
